*{
    margin: 10px;
    background:linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}
.watch{margin-top: 600px;
    height: 10px;
    text-align: center;
    background: white;
    padding: 120px;
    border-radius: 10px;

}
.time{
    padding: 10px 20px;
  font-size: 3rem;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    
}
.buttons button{
   color: white;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  margin: 5px; 
}
.start{
    background: #3d9970; 
}
.start:hover {
    background-color:orange ;
}
.pause{
    background: #2196f3;
  color: white;
}
.pause:hover {
    background-color:blueviolet ;
}
.restart{
    background: #f44336;
  color: white;}


.restart:hover {
    background-color: pink;
}